### Checking Records those are Matching Name of Students Who are Done with Online MST's on AmCAT  & Generarting their Marks

In [3]:
import pandas as pd
import numpy as np
import io
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
from google.colab import files
uploaded = files.upload()

Saving AIT_MST_1_marks_Engg_20Java_18PA.xlsx to AIT_MST_1_marks_Engg_20Java_18PA.xlsx

In [4]:
%pwd

'/content'

In [ ]:
# root_path = 'C:/Users/pycoder/21_All_Python/21_MST_1_marks/'

### Uploading the Source File- Marks from AmCat

In [5]:
MST_1_marks_All = pd.read_excel(io.BytesIO(uploaded['AIT_MST_1_marks_Engg_20Java_18PA.xlsx']))

In [7]:
# Uploading Required files---the Destination File (Format Needed to Match Results File)
uploaded = files.upload()

Saving Student_Marks_20CST-235_20BIS-2_G-A_MST-1.xlsx to Student_Marks_20CST-235_20BIS-2_G-A_MST-1.xlsx
Saving Student_Marks_CSP-436_18BDA-1_G-B_Lab-MST-1.xlsx to Student_Marks_CSP-436_18BDA-1_G-B_Lab-MST-1.xlsx

### Uploading Required File to which Maching Students MARKS Needed

In [10]:
Apex20BIS_2_A = pd.read_excel(io.BytesIO(uploaded['Student_Marks_20CST-235_20BIS-2_G-A_MST-1.xlsx']))

#Below is the Syntax to Do OFFLINE on Jupyter Notebook
#Apex20BIS_2_B = pd.read_excel(root_path + 'Sections/Student_Marks_20CST-235_20BIS-2_G-B_MST-1.xlsx')

#### Checking whether Uploaded Correctly or Not

In [11]:
Apex20BIS_2_A.head()

           StudentName ProgramCode  ... MaxMarks MarkObtd
0      LAKHAN PARASHAR       CS205  ...       20      NaN
1      AAYUSH SOMANKAR       CS205  ...       20      NaN
2  SHARMA RITESH MANOJ       CS205  ...       20      NaN
3     RAKSHITA PRADHAN       CS205  ...       20      NaN
4       Deeptesh Jyoti       CS205  ...       20      NaN

[5 rows x 9 columns]

In [12]:
type(Apex20BIS_2_A)

pandas.core.frame.DataFrame

In [13]:
Apex20BIS_2_A.columns

Index(['StudentName', 'ProgramCode', 'UID', 'Section', 'CourseCode',
       'ExamType', 'CourseOutComeShortName', 'MaxMarks', 'MarkObtd'],
      dtype='object')

In [14]:
Apex20BIS_2_A['UID'].head()

0    20BCS3643
1    20BCS3641
2    20BCS3638
3    20BCS3679
4    20BCS3645
Name: UID, dtype: object

#### Checking for Successful Upload of Marks - file

In [6]:
MST_1_marks_All.head()

                 User Name                              cluster  ... CO5 Total
0   18BAM1036@cuchd.in_suj  Engineering (Non CSE , AIT and UIC)  ...  23    55
1  19BAM1019@cuchd.in_sdd2  Engineering (Non CSE , AIT and UIC)  ...  24    55
2  19BAM1036@cuchd.in_sv5c  Engineering (Non CSE , AIT and UIC)  ...  27    52
3  19BAM1015@cuchd.in_o83j  Engineering (Non CSE , AIT and UIC)  ...  11    24
4  18BAM1016@cuchd.in_3rx8  Engineering (Non CSE , AIT and UIC)  ...   3    53

[5 rows x 12 columns]

#### Checking the Size of Dataframes that are to be compared

In [18]:
len(Apex20BIS_2_A), len(MST_1_marks_All)

(64, 28994)

# Selecting Subject related Data 
    - from "Assessment Name" Column

1. MST1_20CST-235_Programming in Java
2. MST1_CST-436_Planning Analytics

In [20]:
# Using lambda function
Mst_1_Prog_in_JAVA_marks = MST_1_marks_All.apply(lambda row: row[MST_1_marks_All['Assessment Name'].isin(['MST1_20CST-235_Programming in Java'])])

In [22]:
len(Mst_1_Prog_in_JAVA_marks)

1015

## Cropping Data Section Wise 
    - from "Prog Code" Column

1. BIS Section --> Program Code --> 
      * A:-- "CS205"        * B:-- "CS215", "CS205"
2. BIT Section --> Program Code -->  
      * A:-- "CS222"        * B:-- "CS217", "CS222"       
3. MST1_CST-436_Planning Analytics
      * A:-- "CS206"        * B:-- "CS206"

In [23]:
# Using lambda function
Mst_1_JAVA_BIS_BIT_Secs_marks = Mst_1_Prog_in_JAVA_marks.apply(lambda row: row[MST_1_marks_All['Prog Code'].isin(['CS205','CS215','CS217','CS222'])])

In [24]:
len(Mst_1_JAVA_BIS_BIT_Secs_marks)

193

##### percentage of 'Total_Marks' column 
   - using df.assign()
   - df = df.assign(Percentage = lambda x: (x['Total_Marks'] /500 * 100))

In [27]:
Mst_1_JAVA_BIS_BIT_Secs_marks = Mst_1_JAVA_BIS_BIT_Secs_marks.assign(Scale_to_40 = lambda x: (x['Total']/4))

In [26]:
## Run this Code if Required to Sum-Up the Values
#Mst_1_JAVA_BIS_BIT_Secs_marks = Mst_1_JAVA_BIS_BIT_Secs_marks['Scale_to_40'].apply(np.ceil)
#Mst_1_Plan_Analytics_marks = Mst_1_Plan_Analytics_marks['Scale_to_40'].apply(np.ceil)

In [28]:
Mst_1_JAVA_BIS_BIT_Secs_marks.columns

Index(['User Name', 'cluster', 'Prog Code', 'Prog Name', 'UID',
       'Assessment Name', 'CO1', 'CO2', 'CO3', 'CO4', 'CO5', 'Total',
       'Scale_to_40'],
      dtype='object')

#### Dropping All Other Columns

In [29]:
Mst_1_JAVA_BIS_BIT_Secs_marks = Mst_1_JAVA_BIS_BIT_Secs_marks.drop(['User Name', 'cluster', 'Prog Code', 'Prog Name',
       'Assessment Name', 'CO1', 'CO2', 'CO3', 'CO4', 'CO5', 'Total'], axis='columns')

In [30]:
Mst_1_JAVA_BIS_BIT_Secs_marks.head()

             UID  Scale_to_40
13287  20BCS3585        18.50
13288  20BCS3700        16.75
13289  20BCS3659        16.50
13290  20BCS3695        15.25
13291  20BCS3551        17.75

#### performing INNER_JOIN on the both Dataframes

In [31]:
Apex20BIS_2_A_marks = Apex20BIS_2_A.merge(Mst_1_JAVA_BIS_BIT_Secs_marks, left_on='UID', right_on='UID', how='inner')

In [32]:
Apex20BIS_2_A_marks.head()

       StudentName ProgramCode        UID  ... MaxMarks MarkObtd Scale_to_40
0  LAKHAN PARASHAR       CS205  20BCS3643  ...       20      NaN        3.75
1  LAKHAN PARASHAR       CS205  20BCS3643  ...       20      NaN       19.25
2  LAKHAN PARASHAR       CS205  20BCS3643  ...       20      NaN        3.75
3  LAKHAN PARASHAR       CS205  20BCS3643  ...       20      NaN       19.25
4  AAYUSH SOMANKAR       CS205  20BCS3641  ...       20      NaN       15.50

[5 rows x 10 columns]

###  to Remove Duplicate entries
     Example:-  group by all the other columns and take the max of the column you need. 
     df.groupby('A', as_index=False).max()

In [33]:
Apex20BIS_2_A_marks_final = Apex20BIS_2_A_marks.groupby(['StudentName','ProgramCode','UID','Section','CourseCode','ExamType','CourseOutComeShortName','MaxMarks'], as_index=False)['Scale_to_40'].max()

### Column "MarkObtd" Renaming
    # Rename the columns of df2_melted: df2_tidy
    df2_tidy = df2_melted.rename(columns = {'variable': 'Year', 'value': 'Income'}, inplace = False)

In [34]:
Apex20BIS_2_A_marks_final = Apex20BIS_2_A_marks_final.rename(columns={'Scale_to_40':'MarkObtd'})

## Saving to File

In [ ]:
# dest_path = root_path +'Results_MST-1/'

In [45]:
#cd '/content/drive/MyDrive/CU_Notebooks/MST-1'

/content/drive/MyDrive/CU_Notebooks/MST-1

In [46]:
Apex20BIS_2_A_marks_final.to_excel('/content/drive/MyDrive/CU_Notebooks/MST-1/Apex20BIS_2_A_marks_final.xlsx', index=False)